@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

  .rise-content
    padding-top: 0

  .welcome-section
    .fz40
      font-size: 34px

  .head-logo
    img
      width: 120px
  .mnu-line
    font-size: 14px
  .main-mnu
    li
      font-size: 15px
  .mnu-line-info
    right: -40px
    position: relative
    top: -30px
    .info-bottom
      font-size: 18px
    .telegram
      margin-right: 18px
      img
        width: 36px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

  .rise-img
    padding-right: 0

  .welcome-section
    text-align: center
    line-height: 1.2
    margin-top: 50px
    .btn-orange
      margin-top: 0
      margin-bottom: 90px

  .mnu-line
    padding-top: 0
  .head-logo
    left: calc(50% - 60px)
  .mnu-line-info
    right: 0

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

  .s-rise
    text-align: center
  .rise-img
    margin-bottom: 30px

  .welcome-section
    line-height: 1.3
    .fz40
      font-size: 28px
      text-transform: uppercase
    .fz29
      font-size: 22px
      span
        font-size: 50px
      sup
        font-size: 22px
        position: relative
        top: -30px
    .fz24
      font-size: 20px
    .accent
      color: $accent-orange
      font-size: 20px
      margin-bottom: 50px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .rise-content
    blockquote
      font-size: 17px


  body
    line-height: 1.3
    font-size: 16px

  .welcome-section
    margin-top: 170px
    line-height: 1.4

  .main-head
    .toggle-mnu
      position: relative
      right: 30px
      left: auto
      float: right
    .mobile-mnu
      margin-top: 0

  .head-logo
    left: 45px
    top: 20px
    img
      width: 90px
  .mnu-line-info
    float: none
    display: block
    top: 140px
    text-align: center

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

